@font-face {
  font-family: "sandoll";
  src: url("../fonts/SDMiSaeng.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #eeeeee;
  font-family: "sandoll";
}

.status-bar {
  display: flex;
  justify-content: space-between;
}

.status-bar__column:first-child {
  font-size: 26px;
}

.status-bar__column:last-child i {
  margin: 0 1px;
}
