@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/login.css";

@font-face {
  font-family: "sandoll";
  src: url("../fonts/SDMiSaeng.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #eeeeee;
  font-family: "sandoll";
  height: 1000vh;
}
